// ------------------------ OVERRIDE ------------------------ //
// colors
$primary: #387eab;
$secondary: #7fc9f6;
$success: #3a4615;
$info: #c9d0ad;

// font
$font-size-base: 0.87rem;
$nav-link-height: 1rem;
// ------------------------ OVERRIDE ------------------------ //

@import 'mdb-react-ui-kit/dist/scss/mdb.core.scss';
@import 'mdb-react-ui-kit/dist/scss/mdb.free.scss';
