.ql-editor {
  min-height: 200px;
}
.ql-align-center {
  text-align: center; // clone quill classes for renderHTML
}
.ql-align-right {
  text-align: right; // clone quill classes for renderHTML
}

.featured-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.breadcrumb > li:not(:first-child) {
  margin-left: 5px;
}
.breadcrumb > li:after {
  content: "  /";
}
.breadcrumb > li:last-child:after {
  content: "";
}
