@mixin padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.introduction {
  height: 100vh;
}

.menu {
  background-color: white;
  padding: 50px;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
}

.item {
  position: relative;
  height: 400px;
  width: 200px;
  border: 1px dashed #ccc;
  border-radius: 10%;
}

.item:hover {
  background-color: black;
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  -ms-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}

.child {
  text-align: center;
  padding-top: 350px;
}

.aboutUs {
  background-color: #7fc9f6;
  position: relative;
  background-size: cover;
  @include padding;
}

.testimonials {
  @include padding;
}

.services {
  @include padding;
}

.callToAction {
  position: relative;
  background-color: #1c1c1c;
  @include padding;
}
